.genreContainer {
    margin-top: 5px;
    padding: 10px 10px 10px 10px;
    border-radius: 2px;
    width: 200px;

}

.genreTitle {
    font-size: 25px;
    color: rgba(68, 166, 223, 0.966);
    font-weight: 200;
}