.moviesContainer {
    display: flex;
    justify-content: center;
    margin: 20px 0px 0px 20px;

}

.moviesMain {
display: flex;
align-items: center;
width: 100%;
flex-direction: column;
height: 100%;
}

.moviesTitle {
    width: 50vw;
    font-size: 40px;
}

.moviesCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(36, 36, 36), rgb(58, 58, 58));
    border: 2px solid rgba(68, 166, 223, 0.2);
    height: 80vh;
    width: 50vw;
    border-radius: 5px;
}

.moviesSearch {
    margin: 50px 0px 20px 0px;
    padding-left: 30px;
    width: 100%;    
}

.moviesListContainer {
    
    display: flex;
    width: 100%;
    margin: 0px 30px 0px 30px;
}

.moviesList {
    display: flex;
    flex-direction: column;
    list-style: none;
    flex-grow: 1;
    padding-right: 40px;
}

.moviesListItem {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: rgba(163, 197, 211, 0.966);
    border-bottom: dotted 1px rgba(68, 166, 223, 0.4);
}