.sideContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(48, 48, 48), rgb(90, 90, 90));
    border: solid, 1px, rgb(54, 54, 54);
    box-shadow: 2px 2px 15px rgb(24, 24, 24);
    width: 250px;
}

.menu {
    display: flex;
    flex-direction: column;
}